/* */
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Comic+Neue:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --heading-font: "Julee";
    --paragraph-font: Helvetica, sans-serif;
}

#home_content, #contactme_content, #resources_content{
    max-width: 1600px;
    margin: 0 auto;
  }

/* #396E94, #E7C24F #A43312 
--primary-color: #a36445;
  --secondary-color: #a5a58d;
  --accent1-color: black;
  --accent2-color: #c32f27; */
header{
    display: grid;
    grid-template-columns: 150px auto;
    color: black;
    opacity: 0.8;
  }
  
/* The sidebar menu */
.sidenav {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 160px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      background-color: #a36445; 
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 50px;
    }
    
/* The navigation menu links */
.sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #030303;
      display: block;
    }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}

header{
    margin-top: 0;
    /*background-color: #a5a58d;*/
    margin-left: 160px;
}
.logo{
    width: 130px;
    padding-left: 50px;
}
    
.title{
    font-family: var(--heading-font);
    padding-left: 200px;
    font-size: 3em;
}


/* The sidebar Who */
.sidewho {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1; /* Stay on top */
    top: 500; /* Stay at the top */
    margin-left: 1350px;
    background-color: #a36445; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;
    color: black;
}
    
.sidewho h2{
    font-family: var(--heading-font);
}
.sidewho p{
    font-family: var(--paragraph-font);
    padding: 20px;
    font-size: 1.3em;
}
.sidewho img{
    width: 130px;
}

.sidewho a{
    color: black;
    text-decoration: none;
    /*padding-left: 300px;*/
}
.sidewho a:hover{
    color: black;
}

/* Style page content */
.main_part{
    margin-left: 200px; 
    margin-top: 100px;
    padding-top: 300px;
    padding: 0px 10px;
}
    
.main_part h1{
    color:#a51515;
    font-family: var(--heading-font);
    font-size: 1.3em;
    padding-left: 220px;
}
#first-img{
    text-align: center;
    width: 550px;
    padding-left: 170px;
}

.paragraphE{
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    width: 900px
}
.paragraphP{
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    color: #5c5c4e;
    width: 900px;
    padding-left: 50px;
}

footer{
    background-color: #a36445;
    color: black;
    font-family: var(--paragraph-font);
    font-size: 1.3em;;
    margin-left: 160px;
    padding: 20px;
    /*margin-top: 200px;*/
    display: flex;
    justify-content: space-around;
}
footer a{
    color: black;
}

footer a:hover{
    color: white;
}

/* Resources Page */

.tab1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab1 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-left: 200px;
  align-items: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab1 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab1content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 200px;
}

.tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab2 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-left: 200px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab2content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 200px;
}

/* Tips Page */
.gridtips {
  width: 80%;
  height: 500px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 200px;
  text-align: left;
}

.tip1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #c7c7b5;
  }
  
.tip2 {
  background-color: #a5a58d;
  grid-row: 2/3;
  grid-column: 1/3;
  }
.tip3 {
  background-color: #c7c7b5;
  grid-row: 3/4;
  grid-column: 1/3;
  }
.tip4 {
  background-color: #a5a58d;
  grid-row: 4/5;
  grid-column: 1/3;
  }
.tip5 {
  background-color: #c7c7b5;
  grid-row: 5/6;
  grid-column: 1/3;
  }
.tip6 {
  background-color: #a5a58d;
  grid-row: 6/7;
  grid-column: 1/3;
}
.tip7 {
  background-color: #c7c7b5;
  grid-row: 7/8;
  grid-column: 1/3;
}
.tip8 {
  background-color: #a5a58d;
  grid-row: 8/9;
  grid-column: 1/3;
}
        
/* Contact me page */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 800px;
    /* Form outline */
    padding: 1.5em;
    margin-left: 300px;
    margin-top: 150px;
    border: 3px solid #C34D06;
    font-size: 1.3em;
  }
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: var(--paragraph-font);
  }
  
input,  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font-family: var(--paragraph-font);
    font-size: 1.5em;
  
    /* Uniform text field size */
    width: 700px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #a51515;
  }
  
input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #a51515;
  }
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 10em;
    font-family: var(--paragraph-font);
    font-size: 1em;
  }
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    font-size: 1em; 
    font-family: var(--paragraph-font);
  }

#feedback {
    position: absolute;
    margin: 0 auto;
    top: 200px;
    margin-left: 300px;
    /*padding: .5em;*/
    /* make this element invisible until we are ready for it */
    display: none;     
    text-align: center; 
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    color:#a51515;
    text-decoration: underline;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    